/*Rocking Memory Styles*/
@charset "utf-8";
/* CSS Document */

div[data-icon=true]{
	width: 5%;
    height: 45px;
    margin: 0.9%;
    opacity: 0.5;
    color: #000;
    font-size: 2.5rem;
    line-height: 1;
    float: left;
	filter: drop-shadow(0 0 5px #000);
}

div[data-empty=false]{
	cursor: pointer;
}

div[data-icon=true]:hover{
  opacity:1;
}

.dark-mode {
    filter: invert(1);
}

.game-cover{
	width:0;
	right:0;
	top:0;
	z-index:2;
}

.time-span {
	height: 20px;
	width: 100%;
}

/*-----media queries-----*/

@media (orientation: portrait) {

	div[data-icon=true]{
		font-size: 2rem;
		height: 30px;
		width: 15%;
		margin: 1.3% 0.8%;
	}
}

@media (orientation: landscape) and (max-height: 480px) {
	div[data-icon=true]{
		font-size: 1.5rem;
		width: 6%;
		height: 30px;
		margin: 0.3% 0.5%;
	}

	.help img{
		width: 30%;
	}
}